## Introduction

In this assignment, you will continue to practice and extend your SQL skills, and compare your work to MongoDB.

We will be using two datasets from the City of Vancouver's Open Data Portal. 

 *  `public-art.csv`  lists the art projects in the city, their location, their information, photos, and other relevant features. You can find out more about this dataset from the City of Vancouver's Open Data Portal (https://opendata.vancouver.ca/explore/dataset/public-art/information/)
 *  `public-art-artists.csv` lists the artists in the city, their biography, and other relevant information. You can find out more about this dataset from the City of Vancouver's Open Data Portal (https://opendata.vancouver.ca/explore/dataset/public-art-artists/information/).  

For those who are interested, both CSVs use the WGS84 (EPSG:4326) projection for their location data.

Both datasets are licensed under the Open Government License - Vancouver (https://opendata.vancouver.ca/pages/licence/).

## Data cleaning and import

First, import the two CSVs into your own database. You may also create indexes and define keys if appropriate for the column(s) of your choice.

In the section below, you have the option to discuss any data cleaning and wrangling steps performed during this process. This is not a requirement and will not be assessed directly for grading; however, this may help to clarify to your reader exactly what was done, to make your work below more understandable.

You can either use sqlalchemy or mysql.connector to work on your database.

In [1]:
import numpy as np
import pandas as pd

import sqlalchemy as sq # Keep this to use sqlalchemy

import mysql.connector # Keep these to use mysql.connector
from mysql.connector import errorcode # Keep these to use mysql.connector
from mysql.connector import Error
PASSWORD="TAdb2FDDDATsL"
try:
    connection = mysql.connector.connect(
        host="localhost",
        user="student",
        password=PASSWORD
    )
    create_cursor = connection.cursor() 

except Error as e:
    print("Error while connecting to MySQL", e)

finally:
    if connection.is_connected():
        create_cursor.close() # This is a hint! Since cursor isn't defined you'll obviously need one somewhere
        connection.close()

In [2]:
# Cleaning the data files 

public_art = pd.read_csv('public-art.csv', sep=';', engine='python', on_bad_lines='skip')
public_artist = pd.read_csv('public-art-artists.csv', sep=';', engine='python', on_bad_lines='skip')

# Renaming columns to have _ so that they are easier to work with in the tables

public_art = public_art.rename(columns={'Title of Work': 'Title_of_Work', 'Geo Local Area': 'Geo_Local_Area'})

public_art

,RegistryID,Title_of_Work,ArtistProjectStatement,Type,Status,SiteName,SiteAddress,PrimaryMaterial,URL,PhotoURL,Ownership,Neighbourhood,LocationOnsite,Geom,Geo_Local_Area,DescriptionOfwork,Artists,PhotoCredits,YearOfInstallation,geo_point_2d
0,692,"Everything Matters, Nothing’s Important",NaN,Mural,In place,Fontile (D),237 SOUTHERN STREET,Paint,https://covapp.vancouver.ca/PublicArtRegistry/...,https://opendata.vancouver.ca/api/explore/v2.1...,Privately owned,Strathcona,"SOUTH, FAR EAST","{""coordinates"": [-123.098821, 49.270913], ""typ...",Strathcona,NaN,559,City of Vancouver,2016,"49.270913, -123.098821"
1,694,Elle Matador,NaN,Mural,In place,Bodega,1014 Main Street,Paint and Aerosol,https://covapp.vancouver.ca/PublicArtRegistry/...,https://opendata.vancouver.ca/api/explore/v2.1...,Privately owned,Strathcona,NaN,"{""coordinates"": [-123.099522, 49.275459], ""typ...",Strathcona,NaN,343,Create Vancouver Society,2016,"49.275459, -123.099522"
2,701,Untitled,NaN,Mural,In place,Makerlabs (E),780 East Cordova,Paint,https://covapp.vancouver.ca/PublicArtRegistry/...,https://opendata.vancouver.ca/api/explore/v2.1...,Privately owned,DowntownEastside,North-East Wall,"{""coordinates"": [-123.087695, 49.281801], ""typ...",Strathcona,NaN,"351,352,353",City of Vancouver,2016,"49.281801, -123.087695"
3,703,You Made It,NaN,Mural,In place,Makerlabs,780 East Cordova,Paint,https://covapp.vancouver.ca/PublicArtRegistry/...,https://opendata.vancouver.ca/api/explore/v2.1...,Privately owned,DowntownEastside,Upper west wall,"{""coordinates"": [-123.087695, 49.281801], ""typ...",Strathcona,NaN,354,Create Vancouver Society,2016,"49.281801, -123.087695"
4,704,Saying Goodbye,NaN,Mural,In place,Café Barney,2526 Main Street,Aerosol,https://covapp.vancouver.ca/PublicArtRegistry/...,https://opendata.vancouver.ca/api/explore/v2.1...,Privately owned,Strathcona,NaN,"{""coordinates"": [-123.100581, 49.26251], ""type...",Mount Pleasant,NaN,515,City of Vancouver,2016,"49.26251, -123.100581"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,919,No Pain Like This Body,NaN,Site-integrated work,No longer in place,NaN,NaN,NaN,https://covapp.vancouver.ca/PublicArtRegistry/...,NaN,Privately owned,NaN,NaN,NaN,NaN,NaN,714,NaN,2022,NaN
691,921,Raven N' The City,This artwork was exhibited at the City Centre ...,Two-dimensional artwork,No longer in place,Canada Line City Centre Station windows,NaN,Image printed on cut vinyl,https://covapp.vancouver.ca/PublicArtRegistry/...,https://opendata.vancouver.ca/api/explore/v2.1...,NaN,Downtown,Corner of Georgia Street and Granville Street,"{""coordinates"": [-123.1181, 49.282597], ""type""...",Downtown,Platforms: Nine Places for Seeing is a series ...,716,Shoshannah Greene,2023,"49.282597, -123.1181"
692,922,s?i:?q?y?,sʔi:ɬqəy̓ is exhibited on the Banners at Vanco...,Two-dimensional artwork,In place,"Vancouver Public Library, Central Branch",350 W Georgia Street,Digital artwork printed on vinyl banners,https://covapp.vancouver.ca/PublicArtRegistry/...,https://opendata.vancouver.ca/api/explore/v2.1...,NaN,Downtown,Entrance banners above the library promenade,"{""coordinates"": [-123.115556, 49.279698], ""typ...",Downtown,Platforms: Nine Places for Seeing is a series ...,718,City of Vancouver,2023,"49.279698, -123.115556"
693,925,A Brighter Future,A Brighter Future presented on twenty transit-...,Two-dimensional artwork,In place,NaN,NaN,NaN,https://covapp.vancouver.ca/PublicArtRegistry/...,NaN,NaN,NaN,Twenty (20) transit shelter advertisement loca...,NaN,NaN,Platforms: Nine Places for Seeing is a series ...,717,NaN,2023,NaN
694,929,Musqueam House Boards - Eagles & Salmon,&quot;The House Boards are carved from a red-c...,Welcome figure,In place,VCH Dogwood Care Home,7405 Paulson Street,Old growth western red cedar and copper domes,https://covapp.vancouver.ca/PublicArtRegistry/...,https://opendata.vancouver.ca/api/explore/v2.1...,Privately owned,Marpole,front entrance of the building,"{""coordinates"": [-123.11932, 49.21798], ""type""...",Marpole,The Musqueam House Boards - Eagles &amp; Salmo...,"337,425",Jiahe Photography,2023,"49.21798, -123.11932"

In [3]:
# Create tables named `art_table` and `artist_table` in the database 

def create_table(db_name, data1, data2):
    
    try:
            connection = mysql.connector.connect(
                host='localhost',
                user='student',
    
                password=PASSWORD,
                database=db_name
            )
            # incase they are active tables when re-ran 
            cursor = connection.cursor()
            # Drop the table if it exists
            cursor.execute("DROP TABLE IF EXISTS art_table")
            connection.commit()
            print("Table 'art_table' has been dropped.")

            cursor = connection.cursor()
            # Drop the table if it exists
            cursor.execute("DROP TABLE IF EXISTS artist_table")
            connection.commit()
            print("Table 'art_table' has been dropped.")
            
            if connection.is_connected():
                
                cursor = connection.cursor()
                
                create_table_query1 = ''' create table art_table(
                RegistryID INT,
                Title_of_Work VARCHAR(500),
                ArtistProjectStatement TEXT(25000),
                Type VARCHAR(500),
                Status VARCHAR(500),
                SiteName VARCHAR(500),
                SiteAddress VARCHAR(500),
                PrimaryMaterial VARCHAR(500),
                URL VARCHAR(500),
                PhotoURL VARCHAR(500),
                Ownership VARCHAR(500),
                Neighbourhood VARCHAR(500),
                LocationOnsite VARCHAR(500),
                Geom VARCHAR(500),
                Geo_Local_Area VARCHAR(500),
                Area VARCHAR(500),
                DescriptionOfwork TEXT(2500),
                Artists VARCHAR(2000),
                PhotoCredits VARCHAR(500),
                YearOfInstallation VARCHAR(500),
                geo_point_2d VARCHAR(500)
                
                )
                '''
                create_table_query2 = ''' create table artist_table(
                ArtistID INT,
                FirstName VARCHAR(1000),
                LastName VARCHAR(1000),
                ArtistURL VARCHAR(2083),
                Biography TEXT(2083),
                Country VARCHAR(1000),
                Photo VARCHAR(1000),
                PhotoCredit VARCHAR(1000),
                Website VARCHAR(1000)
                )'''
                
                cursor.execute(create_table_query1)
                connection.commit()
                print("Table 'art_table' has been created.")
                
                cursor.execute(create_table_query2)
                connection.commit()
                print("Table 'artist_table' has been created.")
                
        
    except Error as e:
            print(f"Error while connecting to MySQL: {e}")
        
    finally:
            if connection.is_connected():
                cursor.close()
                connection.close()

create_table("student", public_art,public_artist)



# Load the dataset `public-art.csv` into `art_table`
# Load the dataset `public-art-artists.csv` into `artist_table`

# Your code for data cleaning and wrangling

Table 'art_table' has been dropped.
Table 'art_table' has been dropped.
Table 'art_table' has been created.
Table 'artist_table' has been created.

In [4]:

#creating an engine
engine = sq.create_engine('mysql+mysqlconnector://student:TAdb2FDDDATsL@localhost/student')

# Importing data into tables 
public_art.to_sql('art_table', engine, if_exists='append', index=False)
public_artist.to_sql('artist_table', engine, if_exists='append', index=False)

592

## Part A: Warm-up Questions (10 marks)

Answer the questions below, including any queries you used where necessary. Not all questions will necessarily require a SQL query for a correct response. Some questions may require only query, some may require only explanation, some may require both query and explanations. You may use the references of the data sources which are already provided as part of this notebook.

First, let's look at the `public-art` dataset.

**Question 1 (1 mark)**

How many art works are included in this file?

In [5]:
# This query takes the count of distinct registry IDs there is in the table, since the ID is unique to the arts table, should count all the arts 
question1 = pd.read_sql_query('select count(distinct(RegistryID)) as Number_of_Art from art_table', engine)
question1

   Number_of_Art
0            695

**Question 2 (3 marks)**

While not all columns are equally interesting, let's focus on a few columns. Name three columns which could be used as primary key for this dataset and add any conditions needed to be applied on the dataset to select each of them as a primary key.

**Question 2 (Answer)**

The three columns that could serve as primary keys in the public arts table are:

* RegistryID: A unique identifier assigned to each piece of art, serving as a distinct descriptor for every record in the table.
* Title of Work: While not ideal, this could function as a primary key if each title is unique. A numeric identifier might be more suitable, but this assumes all work titles are distinct.
* URL: Each URL corresponds to a unique web page dedicated to a specific art piece, making it a viable primary key due to its distinctiveness.

**Question 3 (1 mark)**

Assume that the Neighbourhood locations in the city of Vancouver were modified and redefined. How would that impact the dataset?

**Question 3 (Answer)** : It would impact the `Neighbourhood` and `Geo_Local_Area` fields because the `Geo_Local_Area` is defined based on the neighborhood. If a neighborhood's boundaries change, both fields would need to be updated to reflect the new area assignments.

**Question 4 (2 marks)**

What are the different types of artworks listed in this dataset? Are the primary materials of an artwork dependent on the type of the artwork?

In [6]:
# This question looks at all the tyes of artwork and their primary material. 
question2 = pd.read_sql_query('SELECT Type,PrimaryMaterial FROM art_table group by PrimaryMaterial order by PrimaryMaterial desc' , engine)
question2

                        Type                                 PrimaryMaterial
0                     Relief                                    Yellow cedar
1    Two-dimensional artwork            wool yarn stitched on plastic canvas
2       Site-integrated work   Wooden planks, living trees, steel containers
3                  Sculpture             Wood, steel, aluminum, lead, bronze
4                      Mural                     Wood, Paint, Metal Flashing
..                       ...                                             ...
303  Two-dimensional artwork                                        2D print
304                Sculpture  1” hot rolled steel plate (silicon restricted)
305               Media work               16mm film transferred to HD video
306     Site-integrated work          15 mm diameter, single tube white neon
307                Sculpture                                            None

[308 rows x 2 columns]

**Answer**,No, it does not. For the most part, we can observe that different types of artwork utilize a variety of primary materials rather than relying on just one.


Next, let's look at the `public-art-artists` dataset.

**Question 5 (1 mark)**

Are there any artists without their biography listed? If so, then list the names of those artists.

In [7]:
question5 = pd.read_sql_query('SELECT FirstName, LastName FROM artist_table WHERE Biography IS NULL', engine)
question5

      FirstName      LastName
0          Tony         Bloom
1    E. Schulte        Becham
2         Yanka    Brayovitch
3           Joe      Capilano
4         Isaac          Tait
..          ...           ...
199       Keith  Langergraber
200       Keith         Doyle
201        Lani       Maestro
202        K.C.          Hall
203      Gordon          Dick

[204 rows x 2 columns]

**Question 6 (1 mark)**

Which columns would be suitable primary keys for this table and why?


**Answer:** **ArtistID** would be the most suitable choice for a primary key, as it uniquely identifies each individual artist.

**Question 7 (1 mark)**

Which country/countries (other than canada) is/are listed for the most artists (and also is not null)?

In [8]:
question7 = pd.read_sql_query('SELECT Country, count(distinct(ArtistID)) as Count_of_Artist FROM artist_table WHERE Country IS NOT NULL AND Country != "Canada" GROUP BY Country ORDER BY count(distinct(ArtistID)) DESC', engine)
question7

          Country  Count_of_Artist
0             USA               15
1         Germany                6
2           China                5
3        Portugal                3
4           Japan                3
5          Sweden                3
6           Italy                3
7     Switzerland                3
8          France                2
9         Austria                2
10         Poland                1
11  United States                1
12         Serbia                1
13        Finland                1
14    New Zealand                1
15         Taiwan                1
16         Greece                1
17       Scotland                1
18        England                1
19    Netherlands                1

**Answer** Looks like the USA, Germany and China are in the top 3

## Part B: SQL with multiple tables (13 marks)

Answer the questions below, including any queries you used where necessary. Not all questions will necessarily require a SQL query for a correct response. Some questions may require only query, some may require only explanation, some may require both query and explanations. You may wish to use as a source the references which are already provided as part of this notebook.

**Question 8 (3 marks)**

Which of the art works are deaccessioned art works that were created by Canadian artists, and what were the primary materials of those art works? Include the artist names and countries too.

In [9]:
question8 = pd.read_sql_query('''SELECT Title_of_Work,FirstName, LastName, Country, PrimaryMaterial 
    FROM artist_table a
    RIGHT JOIN art_table b ON a.ArtistID = b.Artists 
    WHERE Status = "Deaccessioned" AND Country = "Canada"''', engine)

question8

,Title_of_Work,FirstName,LastName,Country,PrimaryMaterial
0,The Game,Liz,Magor,Canada,"Stainless steel, aluminum, bronze"
1,Working Landscape,Daniel,Laskarin,Canada,"Wooden planks, living trees, steel containers"
2,THE WORDS DON’T FIT THE PICTURE,Ron,Terada,Canada,Aluminium
3,Flow,Fiona,Bowie,Canada,None

**Question 9 (2 marks)**

Does the artist, their biography, or their country anyhow impact their artwork type or their artwork materials? Explain your answer.

In [26]:
question9 = pd.read_sql_query('''SELECT ArtistID, RegistryID, Biography, Country, Type, PrimaryMaterial 
    FROM artist_table a
    RIGHT JOIN art_table b ON a.ArtistID = b.Artists
    WHERE Biography IS NOT NULL and Country IS NOT NULL and PrimaryMaterial IS NOT NULL

    ORDER BY ArtistID DESC''', engine)

question9

,ArtistID,RegistryID,Biography,Country,Type,PrimaryMaterial
0,721,611,"Devon Knowles lives and works in Vancouver, Ca...",Canada,Site-integrated work,"8mm low-iron ""Opti-White"" Glass"
1,708,913,Caitlin Aleck (Te-Awk-Tenaw) is a Tsleil-Wautu...,Canada,Two-dimensional artwork,Ink on paper
2,705,784,Lawrence Paul Yuxweluptun lives and works on u...,Canada,Sculpture,"Concrete, Steel, Yellow Cedar, Glass, Granite"
3,699,903,"Janet Wang is a visual artist and educator, wi...",Canada,Two-dimensional artwork,Pencil drawings printed on cut vinyl
4,698,902,Mark Johnsen is an American visual artist livi...,Canada,Two-dimensional artwork,Digital Prints
...,...,...,...,...,...,...
338,5,343,"Joe Y. Wai Architect, Inc. was established in ...",Canada,Gateway,"concrete, steel, ceramic tiles, vinyl, fiberglass"
339,3,624,Ken Lum is an artist born and raised in Vancou...,USA,Sculpture,Bronze
340,3,337,Ken Lum is an artist born and raised in Vancou...,USA,Sculpture,Fibreglass
341,3,441,Ken Lum is an artist born and raised in Vancou...,USA,Sculpture,"Concrete, Steel, Aluminum, Impact Modified Acr..."
342,3,475,Ken Lum is an artist born and raised in Vancou...,USA,Two-dimensional artwork,Vinyl/ Text

**Question 9 (Answer)**: Examining the table, it’s clear that neither the artist, biography, nor country significantly influence the type of artwork produced. This is evident when observing artists who create diverse types of art, such as Artist 3, who produces both sculptures and two-dimensional artworks using different materials. Since the biography is directly tied to the artist, it similarly doesn’t affect the artwork type. Lastly, regarding the country, we see that countries with multiple artworks exhibit a variety of materials and types. Only countries with a single painting show any impact, but those with more follow trends similar to the USA and Canada.

**Question 10 (1 mark)**

List the names of all artists that have their art works installed before the year 2000 or after the year 2020. Include the year of installation in the result.

In [34]:
question10 = pd.read_sql_query('''SELECT ArtistID, FirstName, LastName, YearOfInstallation
    FROM artist_table a
    LEFT JOIN art_table b ON a.ArtistID = b.Artists 
    WHERE YearOfInstallation < 2000 OR YearOfInstallation > 2020
    ORDER BY YearOfInstallation ASC''', engine)

question10

     ArtistID FirstName   LastName YearOfInstallation
0          81   Charles      James               1901
1          16     James  Blomfield               1905
2         195      None    Unknown               1906
3          21      John      Bruce               1910
4          98   Charles     Marega               1911
..        ...       ...        ...                ...
274       717    Gordon       Dick               2023
275       704    Lauren  Crazybull               2023
276       715      K.C.       Hall               2023
277       337     Brent    Sparrow               2023
278       720      Lisa      Lewis               2024

[279 rows x 4 columns]

**Question 11 (4 marks)**

What modifications would be required to normalize the two datasets? Which normal form would you prefer for each of them and why?

To normalize the datasets effectively, I would prefer to normalize the data to 2NF and remove partial dependencies. For Dataset 1 (artworks), I would create separate tables for Ownership and Site. The Ownership table would store details such as OwnershipID and  OwnershipType , and this would be linked to the  Artwork  table through  OwnershipID . Similarly, I would extract site-related information into a new  Site  table, including fields like  SiteID ,  SiteName , and  SiteAddress , which would connect to the  Artwork  table via  SiteID . This way, the  Artwork  table no longer contains information that depends only on part of the composite key. For Dataset 2 (artists), I would also normalize by breaking down the artist's details like  Biography ,  Country , and  Photos  into their own tables, linking them by  ArtistID . I would rather normalize it to 2NF beaucse the data set is not that complex and by moving to 2NF, the data would be more efficient, with less redundancy and clearer relationships between the tables. This structure would ensure that all non-key attributes are fully dependent on the primary key, making it easier to update data while maintaining integrity.

**Question 12 (1 mark)**

Provide a breakdown of all the artworks in the database, by their ownership. Include the ID for both the art work and artist. Show all results in a single table.

In [45]:
question12 = pd.read_sql_query('''SELECT distinct(b.RegistryID),ArtistID, FirstName, LastName, Ownership
    FROM artist_table a
    RIGHT JOIN art_table b ON a.ArtistID = b.Artists
    Order by Ownership desc''', engine)

question12

     RegistryID  ArtistID         FirstName  LastName               Ownership
0           514     522.0  Shallom (Indigo)   Johnson  Yang-Myung Holdings Ld
1           806     618.0            Samuel  Roy-Bois                Westbank
2           595     324.0             Kelly   Cannell                Westbank
3           823     316.0            Rodney    Graham                Westbank
4           436     317.0           Antonia    Hirsch                     VCC
..          ...       ...               ...       ...                     ...
690         911     703.0            Olivia    George                    None
691         647     437.0              Ryan     Peter                    None
692         159     195.0              None   Unknown                    None
693         435     131.0           Douglas     Senft                    None
694         342     131.0           Douglas     Senft                    None

[695 rows x 5 columns]

**Question 13 (1 mark)**

Where an art work is located in downtown and owned by the city of Vancouver, list the art work, include the geo location coordinates, geo 2d points, artist project statement, whether artist website information is available or not, and show the geo local area of the art work only if it matches the neighbourhood location. Show all results in a single table.

In [46]:
question13 = pd.read_sql_query('''SELECT RegistryID, Title_of_Work, Geom, geo_point_2d, ArtistProjectStatement,
    CASE 
        WHEN URL IS NOT NULL THEN 'Available'
        ELSE 'Not Available'
    END AS Website_Info, 
    
    CASE
        WHEN Geo_Local_Area = Neighbourhood THEN Geo_Local_Area
        ELSE 'Not Available'
    END AS Geo_Local_Area
    
        FROM artist_table a
        JOIN art_table b ON a.ArtistID = b.Artists
        WHERE Neighbourhood = 'Downtown' AND ownership = 'City of Vancouver';''', engine)


question13

,RegistryID,Title_of_Work,Geom,geo_point_2d,ArtistProjectStatement,Website_Info,Geo_Local_Area
0,727,Listening. On. Waking Terrain.,"{""coordinates"": [-123.09986, 49.2726], ""type"":...","49.2726, -123.09986",Underneath Main and Terminal and extending bac...,Available,Not Available
1,768,Life Transformations,"{""coordinates"": [-123.119083, 49.281865], ""typ...","49.281865, -123.119083","""Interconnected life. Intuitive decisions and ...",Available,Downtown
2,781,Vancity Skyline,"{""coordinates"": [-123.113948, 49.279993], ""typ...","49.279993, -123.113948",None,Available,Downtown
3,835,Wanna Go For A Walk?,"{""coordinates"": [-123.119, 49.281384], ""type"":...","49.281384, -123.119",Reflecting on walks walked for the sake of wal...,Available,Downtown
4,837,An Oxford folder holding - The Weight of Inher...,"{""coordinates"": [-123.119, 49.281384], ""type"":...","49.281384, -123.119",An Oxford folder holding… is a part of The Wei...,Available,Downtown
...,...,...,...,...,...,...,...
84,864,We Are One,"{""coordinates"": [-123.124837, 49.27861], ""type...","49.27861, -123.124837",Tafui&rsquo;s striking work We Are One (2020) ...,Available,Downtown
85,883,Parliament of Owls,"{""coordinates"": [-123.119628, 49.281344], ""typ...","49.281344, -123.119628",Parliament of Owls presented on the VanLive! S...,Available,Downtown
86,885,Waiting Room,"{""coordinates"": [-123.119, 49.281384], ""type"":...","49.281384, -123.119","Waiting Room, Alex MacKenzie&rsquo;s material-...",Available,Downtown
87,888,Dissolution,"{""coordinates"": [-123.119, 49.281384], ""type"":...","49.281384, -123.119",Ryley O&rsquo;Byrne&rsquo;s Dissolution is a t...,Available,Downtown
88,901,Shared Bodies,"{""coordinates"": [-123.119628, 49.281344], ""typ...","49.281344, -123.119628",Shared Bodies presented on the VanLive! Screen...,Available,Downtown

**Question 14 (1 mark)**

List the titles of all artworks that were created by Canadian or American artists which are described as some sort of memorial art work. Show all results in a single table.

In [47]:
question14 = pd.read_sql_query('''SELECT Title_of_Work
    FROM artist_table a
    RIGHT JOIN art_table b ON a.ArtistID = b.Artists
    WHERE (Country = 'Canada' OR Country = 'USA') 
      AND Type LIKE 'Memorial%';''', engine)

question14

                                Title_of_Work
0   Vancouver 2010 Olympic Truce Installation
1              Japanese-Canadian War Memorial
2                               Komagata Maru
3                    King Edward VII Fountain
4                Joe Fortes Drinking Fountain
5                 Hastings Mill Commemorative
6                  Harding Memorial Sculpture
7             Shakespeare Monument and Garden
8                           David Oppenheimer
9                            Jubilee Fountain
10                             Joy of Freedom

In [48]:
# Close the connection
engine.dispose()

## Part C: Evaluating your results  (7 marks)

Let's look into the datasets again and explore them a bit more.

**Question 15 (2 marks)**

The two datasets provided for this assignment offer a limited set of data, for different purposes. How do you think the use of these datasets might differ?

**Answer** The use of the dataset depends on the specific information you're trying to analyze. For instance, the artist dataset doesn't include all the artists listed in the art table. If you're focused on the number of artworks created by artists with detailed information like first and last names, you'd look at the artist table merged with the art table. However, if you're interested in determining where the artists who contributed to the artworks in the art table are from, you can explore that, but keep in mind the artist dataset is missing many artists that appear in the art table.

Another use case could be determining how many artworks are categorized as Deaccessioned. In this case, you might not care about who the artists are but are more focused on the logistical aspect of the data.Hence the limiation of the other dataset doesnt matter for that question.

**Question 16 (2 marks)**

What are the limitations of the two datasets? Think about the overall possible limitations, and not just the difficulties you faced for the above queries.

**Answer** The limitations of the art table include a significant number of null values, which can make it challenging to analyze certain variables. Such as the names of all the artists for their artwork. 

Other limitations stem from how the data is stored. It should be cleaned up further— for example, latitude and longitude should not be merged into a single column but rather kept as separate columns to facilitate easy geospatial analysis. Additionally, combining primary materials into one column makes it difficult to compare across various artworks. Therefore, both the data storage and handling present limitations in the dataset.

**Question 17 (1 mark)**

One thing you may have had to consider is your selection of columns from both datasets to use as a key for any joins you performed. Discuss your reasoning behind your choice of key. If you don't think you had a reason in particular, then name another pair of colums which could have been used to execute your joins.

**Answer** I joined the ArtistID from the artist table with the 'Artist' field in the artwork table. This is because the artist ID is unqiue to each artist and since the artwork table has multiple artworks form one artist, its easier to pull from a single sourse of truth, which is artist table. However, the type of join depends on the question being asked. For example, if the query asks for the names of artist and their country of orgin, you would join using the ArtistID and include all relevant data from the artwork table, as it contains information about all the artists who contributed to the artworks.

**Question 18 (2 marks)**

It is possible to download both datasets as GeoJSON files rather than as CSVs. Imagine that we have loaded these GeoJSON files into MongoDB instead of a relational database.

Pick one of the queries from Part B to discuss. Do you think it is more difficult to retrieve the information requested for this query from the pair of relational database tables provided to you, or from a MongoDB collection set up as described? Explain why or why not.

Yes, it's possible to download both datasets as GeoJSON files instead of CSVs. For example, the query "List the titles of all artworks created by Canadian or American artists that are described as some sort of memorial artwork. Show all results in a single table" would be easier in MongoDB. You’d just use the find function and filter by the variables you want, like ***"Country": { "$in": ["Canada", "USA"] }***, and then keep filtering further. However, since I'm not as confident with Mongo, yet, I think it would take a bit more effort to ensure the syntax is correct, and having to remove the ID is an additional step.

## Part E: Reflection (5 marks)

In a brief paragraph for each (no more than 500 words total), answer the following:


1) Identify a skill or concept which you are more knowledgable or comfortable with now, compared to at the start of DATA 604. 


2) What best helped you to learn this skill or concept? Was it something covered in class, part of an assignment or project, or another resource?


3) Based upon what you have learned, where do you see an opportunity to continue to develop your understanding of this skill?

**Answer**

1. I feel much more confident with SQL queries now. While I've used them before, I really needed a refresher, especially for more complex queries. I've also learned a lot more about the different types of database management systems. I wasn't very familiar with the various types, aside from their names, but now I feel I can describe them fairly well, though I still need improvement in using them effectively. Another area where I’ve made progress is in coding overall—specifically in identifying issues and breaking them down further.

2. I think the class was really helpful, especially in discussing the process. I enjoyed working through examples in class and being able to ask questions about why things were done a certain way. The project also pushed us to really dive in and learn around how to use the things we did in class, which I appreciated as its more hands on.

3. I definitely see myself developing a stronger understanding of MongoDB. It's something new for me, and while it doesn’t seem too complex, I’m eager to get more comfortable with it and learn more. On the other hand, I can continue to improve my knowledge of theoretical concepts like normalization, and I’ll keep putting effort into learning those. However, again i feel like i can always get better at coding, and will use the break to continue at it!

## References

Both datasets used in this Assignment are licensed under the Open Government License - City of Vancouver.

Public art [online], 2024. Open Data (City of Vancouver). Available from: https://opendata.vancouver.ca/explore/dataset/public-art/information/ [Accessed 20 September 2024].

Public art - Artists [online], 2024. Open Data (City of Vancouver). Available from: https://opendata.vancouver.ca/explore/dataset/public-art-artists/information/ [Accessed 20 September 2024].

In [16]:
# Add your references (if any)